@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap';
@import './blocks/variables';
@import './blocks/mixins';
@import './blocks/header';
@import './blocks/game';
@import './blocks/message';
@import './blocks/tile';
@import './blocks/effects';

body {
  margin: 0;

  @include flex-center;

  min-height: 100vh;
  background: $color-bg-main;
  font-family: $font-family-main;
  font-size: $font-size-base;
  font-weight: 900;
}

.app {
  @include flex-center;

  flex-direction: column;
  width: $board-width;
}

h1 {
  background: $color-gold;
  color: $text-light;
  width: $tile-size;
  height: $tile-size;
  font-size: $font-size-base;
  font-weight: 900;
  border-radius: $radius-main;

  @include flex-center;

  box-sizing: border-box;
  margin: 0;

  box-shadow: $shadow-main;

  transition: transform $transition-speed ease-in-out;

  @include hover-effect;
}

.hidden {
  display: none;
}
